openapi: 3.2.0
info:
  title: WOW! Momo Content Discovery API
  version: wp/v2
  description: Public, unauthenticated read access to the content behind www.wowmomo.com via the WordPress core REST API — the marketing and policy pages, the media library, the category and tag vocabularies, the author record, the post-type/taxonomy/status registries, the site search index and the oEmbed provider endpoint.
  contact:
    name: WOW! Momo Foods
    url: https://www.wowmomo.com/
  x-derived-from: https://www.wowmomo.com/wp-json/ route index + per-route HTTP OPTIONS schema documents
  x-derived-on: '2026-09-04'
  x-api-evangelist-note: Third-party profile. Every path, parameter and schema property here was read from the server's own published route index and OPTIONS documents on 2026-09-04 — nothing is invented. This is not a contract WOW! Momo publishes or supports.
servers:
- url: https://www.wowmomo.com/wp-json
  description: WOW! Momo WordPress REST API
tags:
- name: Discovery
  description: The API root document and the oEmbed provider endpoint.
paths:
  /:
    get:
      operationId: getApiIndex
      summary: Get the API discovery index
      description: 'Return the WordPress REST API root document for www.wowmomo.com: site name and description, the registered namespaces, the full route table, and the authentication methods the install accepts. This is the machine-readable index every other operation in this document was derived from.'
      tags:
      - Discovery
      responses:
        '200':
          description: The API root document.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiIndex'
  /oembed/1.0/embed:
    get:
      operationId: getOembed
      summary: Get the oEmbed representation of a wowmomo.com URL
      description: Return the oEmbed 1.0 rich/link representation for a URL on www.wowmomo.com.
      tags:
      - Discovery
      parameters:
      - name: format
        in: query
        schema:
          default: json
      - name: maxwidth
        in: query
        schema:
          default: 600
      - name: url
        in: query
        description: The URL of the resource for which to fetch oEmbed data.
        required: true
        schema:
          type: string
          format: uri
      responses:
        '200':
          description: An oEmbed 1.0 response object.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '404':
          $ref: '#/components/responses/WordPressError'
components:
  schemas:
    Error:
      type: object
      description: The WordPress REST API error envelope. It is not RFC 9457 problem+json.
      properties:
        code:
          type: string
          description: Machine-readable error code, e.g. rest_post_invalid_id.
        message:
          type: string
          description: Human-readable message.
        data:
          type: object
          description: Error data. Carries the HTTP status under `status`.
          properties:
            status:
              type: integer
              description: HTTP status code.
          additionalProperties: true
    ApiIndex:
      type: object
      description: The WordPress REST API root document.
      properties:
        name:
          type: string
          description: Site title.
        description:
          type: string
          description: Site tagline.
        url:
          type: string
          format: uri
          description: Site URL.
        home:
          type: string
          format: uri
          description: Home URL.
        gmt_offset:
          type:
          - string
          - number
          description: Site GMT offset.
        timezone_string:
          type: string
          description: Site timezone.
        namespaces:
          type: array
          items:
            type: string
          description: Registered REST namespaces.
        authentication:
          type: object
          additionalProperties: true
          description: Authentication methods the install accepts. This install advertises WordPress application passwords.
        routes:
          type: object
          additionalProperties: true
          description: The full route table.
  responses:
    WordPressError:
      description: A WordPress REST API error envelope (code / message / data.status).
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
