openapi: 3.2.0
info:
  title: WOW! Momo Content SEO API
  version: wp/v2
  description: Public, unauthenticated read access to the content behind www.wowmomo.com via the WordPress core REST API — the marketing and policy pages, the media library, the category and tag vocabularies, the author record, the post-type/taxonomy/status registries, the site search index and the oEmbed provider endpoint.
  contact:
    name: WOW! Momo Foods
    url: https://www.wowmomo.com/
  x-derived-from: https://www.wowmomo.com/wp-json/ route index + per-route HTTP OPTIONS schema documents
  x-derived-on: '2026-09-04'
  x-api-evangelist-note: Third-party profile. Every path, parameter and schema property here was read from the server's own published route index and OPTIONS documents on 2026-09-04 — nothing is invented. This is not a contract WOW! Momo publishes or supports.
servers:
- url: https://www.wowmomo.com/wp-json
  description: WOW! Momo WordPress REST API
tags:
- name: SEO
  description: The Yoast SEO head document for any wowmomo.com URL, including its schema.org JSON-LD graph.
paths:
  /yoast/v1/get_head:
    get:
      operationId: getSeoHead
      summary: Get the rendered SEO head for a wowmomo.com URL
      description: Return the Yoast SEO plugin's rendered block for a URL on www.wowmomo.com — title, canonical, robots directives, Open Graph and Twitter card tags, and the schema.org JSON-LD graph (Organization, WebSite, WebPage, BreadcrumbList) — as both an HTML string and a parsed JSON object. Verified anonymously readable on 2026-09-04; every other yoast/v1 route on this install is an administrative route and returns 401.
      tags:
      - SEO
      parameters:
      - name: url
        in: query
        required: true
        description: The wowmomo.com URL to retrieve the SEO head for.
        schema:
          type: string
          format: uri
      responses:
        '200':
          description: The rendered SEO head.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                properties:
                  html:
                    type: string
                    description: The rendered <head> markup.
                  json:
                    type: object
                    additionalProperties: true
                    description: The same head parsed into an object, including the schema.org @graph.
        '404':
          $ref: '#/components/responses/WordPressError'
components:
  responses:
    WordPressError:
      description: A WordPress REST API error envelope (code / message / data.status).
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  schemas:
    Error:
      type: object
      description: The WordPress REST API error envelope. It is not RFC 9457 problem+json.
      properties:
        code:
          type: string
          description: Machine-readable error code, e.g. rest_post_invalid_id.
        message:
          type: string
          description: Human-readable message.
        data:
          type: object
          description: Error data. Carries the HTTP status under `status`.
          properties:
            status:
              type: integer
              description: HTTP status code.
          additionalProperties: true
