openapi: 3.2.0
info:
  title: WOW! Momo Content Search API
  version: wp/v2
  description: Public, unauthenticated read access to the content behind www.wowmomo.com via the WordPress core REST API — the marketing and policy pages, the media library, the category and tag vocabularies, the author record, the post-type/taxonomy/status registries, the site search index and the oEmbed provider endpoint.
  contact:
    name: WOW! Momo Foods
    url: https://www.wowmomo.com/
  x-derived-from: https://www.wowmomo.com/wp-json/ route index + per-route HTTP OPTIONS schema documents
  x-derived-on: '2026-09-04'
  x-api-evangelist-note: Third-party profile. Every path, parameter and schema property here was read from the server's own published route index and OPTIONS documents on 2026-09-04 — nothing is invented. This is not a contract WOW! Momo publishes or supports.
servers:
- url: https://www.wowmomo.com/wp-json
  description: WOW! Momo WordPress REST API
tags:
- name: Search
  description: Cross-type search over everything published on www.wowmomo.com.
paths:
  /wp/v2/search:
    get:
      operationId: listSearchResults
      summary: List search
      description: Search across every public post type on www.wowmomo.com and return lightweight result objects (id, title, url, type, subtype). Seven objects were indexed at capture.
      tags:
      - Search
      parameters:
      - name: context
        in: query
        description: Scope under which the request is made; determines fields present in response.
        schema:
          type: string
          enum:
          - view
          - embed
          default: view
      - name: exclude
        in: query
        description: Ensure result set excludes specific IDs.
        schema:
          type: array
          default: []
          items:
            type: integer
      - name: include
        in: query
        description: Limit result set to specific IDs.
        schema:
          type: array
          default: []
          items:
            type: integer
      - name: page
        in: query
        description: Current page of the collection.
        schema:
          type: integer
          default: 1
          minimum: 1
      - name: per_page
        in: query
        description: Maximum number of items to be returned in result set.
        schema:
          type: integer
          default: 10
          minimum: 1
          maximum: 100
      - name: search
        in: query
        description: Limit results to those matching a string.
        schema:
          type: string
      - name: subtype
        in: query
        description: Limit results to items of one or more object subtypes.
        schema:
          type: array
          default: any
          items:
            enum:
            - post
            - page
            - elementor_library
            - category
            - post_tag
            - any
            type: string
      - name: type
        in: query
        description: Limit results to items of an object type.
        schema:
          type: string
          enum:
          - post
          - term
          - post-format
          default: post
      responses:
        '200':
          description: A collection of search.
          headers:
            X-WP-Total:
              description: Total number of matching records.
              schema:
                type: integer
            X-WP-TotalPages:
              description: Total number of pages available at the current per_page size.
              schema:
                type: integer
            Allow:
              description: Methods available to the caller. Anonymous callers observe `GET`.
              schema:
                type: string
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SearchResult'
        '400':
          $ref: '#/components/responses/WordPressError'
components:
  schemas:
    Error:
      type: object
      description: The WordPress REST API error envelope. It is not RFC 9457 problem+json.
      properties:
        code:
          type: string
          description: Machine-readable error code, e.g. rest_post_invalid_id.
        message:
          type: string
          description: Human-readable message.
        data:
          type: object
          description: Error data. Carries the HTTP status under `status`.
          properties:
            status:
              type: integer
              description: HTTP status code.
          additionalProperties: true
    SearchResult:
      type: object
      properties:
        id:
          description: Unique identifier for the object.
          type:
          - integer
          - string
        title:
          description: The title for the object.
          type: string
        url:
          description: URL to the object.
          type: string
          format: uri
        type:
          description: Object type.
          type: string
          enum:
          - post
          - term
          - post-format
        subtype:
          description: Object subtype.
          type: string
          enum:
          - post
          - page
          - elementor_library
          - category
          - post_tag
      description: A search result as returned by the WordPress REST API on www.wowmomo.com.
  responses:
    WordPressError:
      description: A WordPress REST API error envelope (code / message / data.status).
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
