openapi: 3.2.0
info:
  title: WOW! Momo Content Statuses API
  version: wp/v2
  description: Public, unauthenticated read access to the content behind www.wowmomo.com via the WordPress core REST API — the marketing and policy pages, the media library, the category and tag vocabularies, the author record, the post-type/taxonomy/status registries, the site search index and the oEmbed provider endpoint.
  contact:
    name: WOW! Momo Foods
    url: https://www.wowmomo.com/
  x-derived-from: https://www.wowmomo.com/wp-json/ route index + per-route HTTP OPTIONS schema documents
  x-derived-on: '2026-09-04'
  x-api-evangelist-note: Third-party profile. Every path, parameter and schema property here was read from the server's own published route index and OPTIONS documents on 2026-09-04 — nothing is invented. This is not a contract WOW! Momo publishes or supports.
servers:
- url: https://www.wowmomo.com/wp-json
  description: WOW! Momo WordPress REST API
tags:
- name: Statuses
  description: The publication statuses registered on the install.
paths:
  /wp/v2/statuses:
    get:
      operationId: listStatuses
      summary: List statuses
      description: Retrieve every publication status registered on the install, keyed by slug.
      tags:
      - Statuses
      parameters:
      - name: context
        in: query
        description: Scope under which the request is made; determines fields present in response.
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
      responses:
        '200':
          description: A collection of statuses.
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  $ref: '#/components/schemas/Status'
                description: An object keyed by slug.
        '400':
          $ref: '#/components/responses/WordPressError'
  /wp/v2/statuses/{status}:
    get:
      operationId: getStatus
      summary: Get a single status
      description: Retrieve one status by its identifier.
      tags:
      - Statuses
      parameters:
      - name: status
        in: path
        required: true
        description: An alphanumeric identifier for the status.
        schema:
          type: string
      - name: context
        in: query
        description: Scope under which the request is made; determines fields present in response.
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
      responses:
        '200':
          description: The requested status.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
        '404':
          $ref: '#/components/responses/WordPressError'
components:
  schemas:
    Status:
      type: object
      properties:
        name:
          description: The title for the status.
          type: string
        private:
          description: Whether posts with this status should be private.
          type: boolean
        protected:
          description: Whether posts with this status should be protected.
          type: boolean
        public:
          description: Whether posts of this status should be shown in the front end of the site.
          type: boolean
        queryable:
          description: Whether posts with this status should be publicly-queryable.
          type: boolean
        show_in_list:
          description: Whether to include posts in the edit listing for their post type.
          type: boolean
        slug:
          description: An alphanumeric identifier for the status.
          type: string
        date_floating:
          description: Whether posts of this status may have floating published dates.
          type: boolean
      description: A status as returned by the WordPress REST API on www.wowmomo.com.
    Error:
      type: object
      description: The WordPress REST API error envelope. It is not RFC 9457 problem+json.
      properties:
        code:
          type: string
          description: Machine-readable error code, e.g. rest_post_invalid_id.
        message:
          type: string
          description: Human-readable message.
        data:
          type: object
          description: Error data. Carries the HTTP status under `status`.
          properties:
            status:
              type: integer
              description: HTTP status code.
          additionalProperties: true
  responses:
    WordPressError:
      description: A WordPress REST API error envelope (code / message / data.status).
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
